In [4]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import gkey

In [9]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather-data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Georgetown,MY,2020-08-29 18:06:50,5.41,100.34,84.2,74,20,3.36
1,1,Bredasdorp,ZA,2020-08-29 18:08:59,-34.53,20.04,44.6,87,70,6.93
2,2,Avarua,CK,2020-08-29 18:08:32,-21.21,-159.78,73.4,83,2,13.87
3,3,Jablah,SY,2020-08-29 18:09:00,35.36,35.93,82.4,88,20,4.70
4,4,Chapais,CA,2020-08-29 18:09:00,49.78,-74.85,55.4,62,90,9.17

In [11]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=gkey)

In [23]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations,
                                 weights=[max(temp, 0) for temp in max_temp],
                                 dissipating=False,
                                 max_intensity=300,
                                 point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations,
                                 weights=humidity,
                                 dissipating=False,
                                 max_intensity=300,
                                 point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations,
                                 weights=clouds,
                                 dissipating=False,
                                 max_intensity=300,
                                 point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations,
                                 weights=wind,
                                 dissipating=False,
                                 max_intensity=300,
                                 point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [35]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)].dropna()
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Georgetown,MY,2020-08-29 18:06:50,5.41,100.34,84.20,74,20,3.36
3,3,Jablah,SY,2020-08-29 18:09:00,35.36,35.93,82.40,88,20,4.70
5,5,Kapaa,US,2020-08-29 18:09:00,22.08,-159.32,77.00,88,90,8.05
7,7,Birecik,TR,2020-08-29 18:09:00,37.03,37.99,84.20,28,0,3.29
8,8,Kirakira,SB,2020-08-29 18:09:00,-10.45,161.92,78.82,83,96,7.74
17,17,Russell,US,2020-08-29 18:09:01,32.35,-85.20,86.00,70,40,10.29
19,19,Daru,PG,2020-08-29 18:09:01,-9.08,143.21,77.52,88,100,17.63
23,23,Franklin,US,2020-08-29 18:09:01,39.97,-83.02,84.00,58,40,17.22
24,24,Tautira,PF,2020-08-29 18:09:02,-17.73,-149.15,78.80,74,20,2.24
35,35,Meridian,US,2020-08-29 18:06:43,43.61,-116.39,82.99,31,1,6.93

In [37]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp    Lat     Lng Hotel Name
0   Georgetown      MY     84.20   5.41  100.34
3       Jablah      SY     82.40  35.36   35.93
5        Kapaa      US     77.00  22.08 -159.32
7      Birecik      TR     84.20  37.03   37.99
8     Kirakira      SB     78.82 -10.45  161.92
17     Russell      US     86.00  32.35  -85.20
19        Daru      PG     77.52  -9.08  143.21
23    Franklin      US     84.00  39.97  -83.02
24     Tautira      PF     78.80 -17.73 -149.15
35    Meridian      US     82.99  43.61 -116.39

In [39]:
# Set parameters to search for a hotel.
params = {"radius": 5000,
          "type": "lodging",
          "key": gkey}

In [49]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError):
        print("Hotel not found... skipping.")
print('-------------------------\nSearch Complete. Please see your results below.')
hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
-------------------------
Search Complete. Please see your results below.

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Georgetown,MY,84.20,5.41,100.34,Cititel Penang
3,Jablah,SY,82.40,35.36,35.93,مدرسة محمد سعيد يونس الثانويه
5,Kapaa,US,77.00,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
7,Birecik,TR,84.20,37.03,37.99,Birecik Ogretmenevi
8,Kirakira,SB,78.82,-10.45,161.92,SanBiz Lodge
17,Russell,US,86.00,32.35,-85.20,Macs
19,Daru,PG,77.52,-9.08,143.21,New century hotel
23,Franklin,US,84.00,39.97,-83.02,Courtyard by Marriott Columbus Downtown
24,Tautira,PF,78.80,-17.73,-149.15,Pension Oaoa
35,Meridian,US,82.99,43.61,-116.39,Courtyard by Marriott Boise West/Meridian

In [53]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [54]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))